.header {

    position: relative;
    grid-area: header;
    justify-content: space-between;
    padding: 24px 0 19px;
    border-bottom: 1px solid $dark-gray;
    @media(max-width: 767px) {
        padding: 15px 0;
    }

    // .header__item

    &__item {
        min-height: 108px;
        background-color: $dark-gray;
        @media(max-width: 767px) {
            min-height: 70px;
        }
    }

    // .header__left-item

    &__left-item {
        width: 122px / $container * 100%;
        @media(max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
        }
    }

    // .header__center-item

    &__center-item {
        width: 279px / $container * 100%;
        @media(max-width: 767px) {
            display: none;
        }
    }

    // .header__right-item

    &__right-item {
        justify-content: flex-end;
        align-items: center;
        width: 513px / $container * 100%;
        padding-right: 22px;
        @media(max-width: 767px) {
            width: 100% - 100px / $container * 100%;
        }
    }

    // .header__contact

    &__contact {
        flex-direction: column;
        align-items: flex-end;
    }

    // .header__contact-item

    &__contact-link {
        color: #ffffff;
        span {
            border-bottom: 1px solid #ffffff;
        }
        &:nth-child(2), &:nth-child(3) {
            @media(max-width: 767px) {
                display: none;
            }
        }
    }
}

.hamburger-btn {

    display: none;
    @media(max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 27px;
        cursor: pointer;
    }

    &__item {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: .5s all;
    }

    &--active {
        .hamburger-btn__item {
            &:nth-child(1) {
                transform: rotate(45deg);
                margin-top: 12px;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                margin-bottom: 12px;
            }
        }
    }
}

.burger-menu {
    display: none;
    @media(max-width: 767px) {
        position: absolute;
        z-index: 100;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        width: 50%;
        height: 100vh;
        padding: 50px 30px;
        background-color: $dark-gray;
        transition: .5s ease;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }
    &--active {
        @media(max-width: 767px) {
            left: 0;
        }
    }
    @media(max-width: 575px) {
        width: 70%;
        padding: 50px 15px;
    }
    .header__contact-link {
        display: none;
        @media(max-width: 767px) {
            display: block;
            &:first-child {
                display: none;
            }
        }
    }
}
